@charset "UTF-8";

/**
 * css_template.css
 *
 * Decscription and notes...
 *
 * Sections
 * - Varibales
 * - Typography
 * - Links
 * - Buttons
 * - Lists
 * - Tables
 * - Images
 * - Layout
 * - Forms
 * - Components
 * - Cosmetic
 * - Utility
 * - State
 * - Animation
 * - Hacks
 *
 **/


/* -- Variables ----------------------------------------------------------- */

:root {
  --heading-font: 'Open Sans', sans-serif;
  --subheading-font: 'Open Sans', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --heading-color: rgba(40,40,80,.9);
  --subheading-color: rgb(0,0,0);
  --body-color: rgba(70,70,85,.9);
  --minor-color: rgb(200,200,210);
  --emphasis-color: rgb(120,120,140);
  --emphasis-color-dark: rgb(100,100,120);
}

/* -- Typography ---------------------------------------------------------- */

html {
  color: var(--body-color);
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.6em;
  margin: 0 0 20px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-allcaps {
  color: var(--heading-color);
  font-size: .85rem;
  font-weight: 700;
  line-height: 1.8em;
  text-transform: uppercase;
  margin: 0;
}

/* -- Links --------------------------------------------------------------- */

.primary-link:link,
.primary-link:visited {
  color: var(--emphasis-color);
  font-style: italic;
}

.primary-link:hover,
.primary-link:focus,
.primary-link:active {
  text-decoration: underline;
}

/* -- Buttons ------------------------------------------------------------- */

.btn {
  background: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1em;
  padding: 10px 20px 12px 20px;
  text-decoration: none;
}

.btn--dark,
.btn--dark:link,
.btn--dark:visited {
  border: 2px solid var(--emphasis-color-dark);
  color: var(--emphasis-color-dark);
}

.btn--dark:hover,
.btn--dark:focus,
.btn--dark:active {
  border-color: var(--emphasis-color);
  color: var(--emphasis-color);
}

.btn--light,
.btn--light:link,
.btn--light:visited {
  border: 2px solid rgba(230,230,230,.7);
  color: rgba(230,230,230,.9);
}

.btn--light:hover,
.btn--light:focus,
.btn--light:active {
  border-color: rgb(240,240,240);
  color: rgb(240,240,240);
}

.btn--solid,
.btn--solid:link,
.btn--solid:visited {
  background: var(--emphasis-color);
  color: #fff;
}

.btn--solid:hover,
.btn--solid:focus,
.btn--solid:active {
  background: var(--emphasis-color-dark);
}

/* -- Lists --------------------------------------------------------------- */

/* -- Tables -------------------------------------------------------------- */

/* -- Images -------------------------------------------------------------- */

/* -- Layout -------------------------------------------------------------- */

/* -- Forms --------------------------------------------------------------- */

.subscribe-form {
  width: 100%;
}

.subscribe-form__item  {
  color: var(--emphasis-color);
}

.subscribe-form__field {
  background: #fff;
  border-radius: 4px 0 0 4px;
  color: var(--emphasis-color);
  font-size: .85rem;
  padding: 10px 0;
  text-indent: 10px;
  width: 65%;
}

.subscribe-form__field:focus {
  box-shadow: 0 0 5px rgba(180,180,180,.5);
}

.subscribe-form__submit {
  background: var(--emphasis-color);
  border-radius: 0 4px 4px 0;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 0;
  text-indent: 0;
  width: 35%;
}

.subscribe-form__submit:focus {
  background: var(--emphasis-color-dark);
}

/* -- Components ---------------------------------------------------------- */

/* -- Cosmetic ------------------------------------------------------------ */

.gradient-bg {
  background: var(--emphasis-color);
  background: linear-gradient(to bottom right, var(--emphasis-color-dark), var(--emphasis-color));
}

/* -- Utility ------------------------------------------------------------- */

.u-nomargin {
  margin: 0;
}

/* -- State --------------------------------------------------------------- */

.is-hidden {
  display: none;
}

::selection {
  background: var(--emphasis-color);
  color: #fff;
}

::-moz-selection {
  background: var(--emphasis-color);
  color: #fff;
}

::-moz-focus-inner {
  border: 0;
}

/* -- Animations --------------------------------------------------------------- */

@keyframes slide_from_bottom {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate {
  animation: slide_from_bottom 1s;
}

/* -- Hacks --------------------------------------------------------------- */
