@charset "UTF-8";

/**
 * css_template.css
 *
 * Description and notes...
 *
 * Sections
 * - Variables
 * - Base
 * - Typography
 * - Links
 * - Buttons
 * - Layout
 * - Components
 * - Utility
 * - State
 * - Animation
 * - Hacks
 *
 **/


/* -- Variables ----------------------------------------------------------- */

:root {
  --heading-font: 'Open Sans', sans-serif;
  --subheading-font: 'Open Sans', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --heading-color: rgba(40,40,80,.9);
  --subheading-color: rgb(0,0,0);
  --body-color: rgba(70,70,85,.9);
  --emphasis-color: rgb(120,120,140);
  --emphasis-color-dark: rgb(100,100,120);
}

/* -- Base ---------------------------------------------------------------- */

html {
  color: var(--body-color);
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.6em;
  margin: 0 0 20px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-align: inherit;
  cursor: pointer;
}

input,
textarea,
label,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  outline: none;
}

/* -- Typography ---------------------------------------------------------- */

.small-allcaps {
  color: var(--heading-color);
  font-size: .85rem;
  font-weight: 700;
  line-height: 1.8em;
  text-transform: uppercase;
  margin: 0;
}

/* -- Links --------------------------------------------------------------- */

.primary-link:link,
.primary-link:visited {
  color: var(--emphasis-color);
  font-style: italic;
}

.primary-link:hover,
.primary-link:focus,
.primary-link:active {
  text-decoration: underline;
}

/* -- Buttons ------------------------------------------------------------- */

.boilerplate-btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.boilerplate-btn:hover,
.boilerplate-btn:focus {
  background: #0053ba;
}

.boilerplate-btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.boilerplate-btn:active {
  transform: scale(0.99);
}

.btn {
  border-radius: 2px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1em;
  padding: 10px 20px 12px 20px;
}

.btn--dark,
.btn--dark:link,
.btn--dark:visited {
  border: 2px solid var(--emphasis-color-dark);
  color: var(--emphasis-color-dark);
}

.btn--dark:hover,
.btn--dark:focus,
.btn--dark:active {
  border-color: var(--emphasis-color);
  color: var(--emphasis-color);
}

.btn--light,
.btn--light:link,
.btn--light:visited {
  border: 2px solid rgba(230,230,230,.7);
  color: rgba(230,230,230,.9);
}

.btn--light:hover,
.btn--light:focus,
.btn--light:active {
  border-color: rgb(240,240,240);
  color: rgb(240,240,240);
}

.btn--solid,
.btn--solid:link,
.btn--solid:visited {
  background: var(--emphasis-color);
  color: #fff;
}

.btn--solid:hover,
.btn--solid:focus,
.btn--solid:active {
  background: var(--emphasis-color-dark);
}

/* -- Layout -------------------------------------------------------------- */

/* -- Components ---------------------------------------------------------- */

/* -- Utility ------------------------------------------------------------- */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nomargin {
  margin: 0;
}

.gradient-bg {
  background: var(--emphasis-color);
  background: linear-gradient(to bottom right, var(--emphasis-color-dark), var(--emphasis-color));
}

.is-hidden {
  display: none;
}

/* -- State --------------------------------------------------------------- */

::-moz-selection {
  background: var(--emphasis-color);
  color: #fff;
  text-shadow: none;
}

::selection {
  background: var(--emphasis-color);
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: #000;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

::-moz-placeholder {
  color: #000;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

:-ms-input-placeholder {
  color: #000;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

::placeholder {
  color: #000;
  font-style: normal;
  font-weight: 400;
  opacity: .25;
}

::-moz-focus-inner {
  border: 0;
}

/* -- Animations --------------------------------------------------------------- */

@keyframes slide_from_bottom {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate {
  animation: slide_from_bottom 1s;
}

/* -- Hacks --------------------------------------------------------------- */

/* In event delegation, prevents child elements from being event.target */
button > * {
  pointer-events: none;
}