@charset "UTF-8";



/* VARIABLES -------------------------------------------------------------- */

:root {
  --heading-font: 'Open Sans', sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --minor-font: 'Open Sans', sans-serif;
  --heading-color: rgba(255,255,255,.9);
  --main-color: rgba(50,50,60,1);
}



/* DEFAULTS --------------------------------------------------------------- */

html {
  background: rgb(54,53,75);
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
}

/* TYPOGRAPHY ------------------------------------------------------------- */

.primary-heading {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 400;
}

.highlight-text {
  color: var(--emphasis-color);
}

/* LINKS & BUTTONS -------------------------------------------------------- */

/* LAYOUT ----------------------------------------------------------------- */

/* COMPONENTS ------------------------------------------------------------- */

/* .grad-bar {
  background: rgba(255,255,255,.5);
  padding: 25px;
  width: 380px;
  border-radius: 10px;
  border-bottom: solid 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, tomato, cornsilk);
} */

.grad-bar {
  background: rgba(255,255,255,.5);
  padding: 25px;
  width: 380px;
  border-radius: 10px;
  position: relative;
}

.grad-bar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  background: linear-gradient(to left, tomato, cornsilk);
  width: 100%;
  border-radius: 10px;
  clip-path: inset(70% 0 0 0);
}


.outer-ring {
  position: absolute;
  left: 0;
  height: 55px;
  width: 55px;
  background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
  border-radius: 50%;

  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.inner-ring {
  position: absolute;
  left: 0;
  margin: 2px;
  height: 51px;
  width: 51px;
  background-image: linear-gradient(0deg, #36295e, #1c1045);
  border-radius: 50%;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

/* COSMETIC --------------------------------------------------------------- */

/* UTILITY ---------------------------------------------------------------- */

/* STATE ------------------------------------------------------------------ */
